.account {
    display: flex;
    align-items: center;
}

.account_title div:first-child {
    font-size: 10px;
    color: gray;
}

.avatar {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background: gray;
    border-radius: 50%;
    text-align: center;
}