.drawer_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.drawer {
    width: 400px;
    right: 0;
    top: 0;
    height: 100vh;
    color: white;
    position: fixed;
    background: #121825;
    padding: 20px;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    background: none;
    line-height: 0.5;
    border: none;
    font-size: 20px;
}

.chart {
    position: relative;
    height: 300px;
}

.succeded {
    color: green;
}

.pending {
    color: red;
}