.table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.table td {
    border-bottom: 1px solid #223254;
}

.table td, .table th {
    padding: 4px 0;
    font-size: 12px;
}

.table__header {
    background: black;
    padding: 10px;
    border-radius: 10px;
}

.table svg {
    color: #0000ff;
    margin-right: 5px;
}

.table svg:last-child {
    width: 15px;
}