.table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.table td {
    border-bottom: 1px solid #223254;
}

.table td, .table th {
    padding: 10px 0;
}

.table__header {
    background: black;
    padding: 10px;
    border-radius: 10px;
}

svg {
    fill: #0000ff;
    height: 25px;
    width: 25px;
}

svg:last-child {
    width: 15px;
}